// assets/scss/main.scssf

$font-styles: (
  family: "Kaisei HarunoUmi",
  style: normal,
  weight: 400,
  line-height: 1.6
);

$parallel-font-family: "Train One", system-ui;

$primary-color: #D00000;
$secondary-color: #FFFFFF;
$tertiary-color: #000000;
$quaternary-color: #CBCBCB;